@layer theme, base, mantine, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);

@import "@mantine/core/styles.layer.css";

@import "tailwindcss/utilities.css" layer(utilities);
html[data-mantine-color-scheme="light"] body {
  background-color: #f1f3f5;
}
html[data-mantine-color-scheme="light"] header,
html[data-mantine-color-scheme="light"] .mantine-AppShell-header {
  background-color: #f1f3f5;
}
html[data-mantine-color-scheme="dark"] body {
  background-color: var(--mantine-color-body);
}

html[data-mantine-color-scheme="dark"] header,
html[data-mantine-color-scheme="dark"] .mantine-AppShell-header {
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}
